@media only screen and (max-width: 600px) {
  
    .aspect-ratio-container img {
      object-fit:contain;
      width: 95%;
  height: 95%;
    }

}

/* Desktop styles */
@media only screen and (min-width: 601px) {
  body h3 {
    width: 50%;
  }
  
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  display: block;
  margin:auto;
  padding:30px;
}

body {
  padding: 10px;
  align-text: center;
  font-family: Verdana, sans-serif;
}

a:link {
  color: pink;
}

a:visited {
  color: blue;
}

html {
  background-color: rgb(12,12,12);
  color:white;
}

.floatright {
  float:right;
  background-color: #666666;
  padding:20px;
}

input[type="range"] {
  width: 150px;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  background-color: #dddddd;
  border: none;
  color: #222222;
  padding: 16px 32px;
  font-family: "Lucida Console", Courier New, Monospace;
  font-size: 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
